<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/hui/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/hui/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/hui/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/hui/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/hui/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title></title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 普通商品管理 <span class="c-gray en">&gt;</span> 分类管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">


  <div class="mt-20">
  <table class="table table-border table-bordered table-bg">
    <thead>
      <tr>
        <th scope="col" colspan="13">分类列表</th>
      </tr>
      <tr class="text-c">
        <th >ID</th>
        <th >分类</th>
        <th >图片</th>
        <th >状态</th>
        <th >操作</th>
      </tr>
    </thead>
    <tbody>
      <!-- 开始 -->
      <volist name="list" id="v">
      <tr class="text-c">
        <td>{$v['id']}</td>
        <td>{$v['name']}</td>
        <td>
          <if condition="$v['photo'] neq ''">
          <img src="__DATA__/{$v['photo']}" style="width: 50px;height: 50px">
          <else/>
          无
          </if>
        </td>
        <td class="td-status">
          <if condition="$v.is_tj eq 0">
            <span class="label label-default radius">未推荐</span>
          <else/>
            <span class="label label-success radius">已推荐</span>
          </if>
        </td>
        <td class="td-manage">
          <if condition="$v['is_tj'] eq 0">
            <a style="text-decoration:none" class="ml-5" onClick="admin_disable(this,'{$v[id]}',1)" href="javascript:;" title="推荐"><i class="Hui-iconfont">&#xe615;</i></a>
          <else/>
            <a style="text-decoration:none" class="ml-5" onClick="admin_disable(this,'{$v[id]}',0)" href="javascript:;" title="不推荐"><i class="Hui-iconfont">&#xe631;</i></a>
          </if>
          <a title="编辑" href="javascript:;" onclick="member_edit('编辑','{:U('news_cat_add')}?id={$v.[id]}','{$v[id]}','800','600')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
          <a title="删除" href="javascript:;" onclick="member_del(this,'{$v[id]}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
        </td>
      </tr>
      </volist>
      <!-- 结束 -->
    </tbody>
  </table>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/hui/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/hui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/hui/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/hui/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/hui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/hui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
  $('.table-sort').dataTable({
    "aaSorting": [[ 1, "asc" ]],//默认第几个排序
    "bStateSave": true,//状态保存
    "aoColumnDefs": [
      //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
      {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
    ]
  });
  
});
/*管理员-增加*/
function admin_add(title,url,w,h){
  layer_show(title,url,w,h);
}

/*用户-查看*/
function member_show(title,url,id,w,h){
  layer_show(title,url,w,h);
}
/*用户-停用*/
function admin_disable(obj,id,act){
  var msg;
  if(act==0){
    msg="确认要取消推荐吗？";
  }else{
    msg="确认要推荐吗？";
  }
  layer.confirm(msg,function(index){
    //此处请求后台程序，下方是成功后的前台处理……
    $.ajax({
      type: 'POST',
      url: '{:U("news_cat_tj")}',
      data: {id:id,act:act},
      dataType: 'json',
      success: function(data){
        if(data==1){
          $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_disable(this,'+id+',1)" href="javascript:;" title="推荐" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
          $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">未推荐</span>');
          $(obj).remove();
          layer.msg('已取消推荐!', {icon: 5,time:1000});
        }else{
          $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_disable(this,'+id+',0)" href="javascript:;" title="不推荐" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
          $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已推荐</span>');

          $(obj).remove();
          layer.msg('已推荐!',{icon: 6,time:1000});
        }
      },
      error:function(data) {
        console.log(data);
      },
    }); 
    
  });
}

/*用户-编辑*/
function member_edit(title,url,id,w,h){
  layer_show(title,url,w,h);
}

/*用户-删除*/
function member_del(obj,id){
  layer.confirm('确认要删除吗？',function(index){
    $.ajax({
      type: 'POST',
      url: '{:U("news_cat_del")}',
      data: {id:id},
      dataType: 'json',
      success: function(data){
        if(data==1){
          $(obj).parents("tr").remove();
          layer.msg('已删除!',{icon:1,time:1000});
        }else{
          layer.msg('删除失败!',{icon:1,time:1000});
        }
      },
      error:function(data) {
        console.log(data.msg);
      },
    });   
  });
}

</script> 
</body>
</html>