<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/hui/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/hui/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/hui/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/hui/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/hui/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>店铺分类</title>
</head>
<body>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 管理员管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">


    <div class="mt-20">

        <!--<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="admin_add('添加分类','{:U('news_cat_add')}','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加分类</a></span>  </div>-->
        <table class="table table-border table-bordered table-bg">
            <thead>
            <tr>
                <th scope="col" colspan="13">分类列表</th>
            </tr>
            <tr class="text-c">
                <th >ID</th>
                <th >账号名</th>
                <th >注册时间</th>
                <th >类型</th>

                <th >操作</th>

            </tr>
            </thead>
            <tbody>
            <!-- 开始 -->
            <volist name="userlist" id="v" empty="暂时没有数据">
                <tr class="text-c" data-id="{$v['id']}" data-name="{$v['name']}">
                    <td>{$v['id']}</td>
                    <td>{$v['name']}</td>
                    <td>{$v['addtime']}</td>
                    <td><if condition="$v['qx'] eq 4">超级管理员<else />普通管理员</if></td>
                    <td class="obj_1">




                        <a title="修改" href="javascript:;" onclick="member_edit('修改','{:U('add')}?id={$v[id]}','{$v[id]}','800','600')" class="ml-5 btn btn-primary radius" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>


                        <a title="删除" href="javascript:;" onclick="member_del(this,'{$v[id]}')" class="ml-5 btn btn-danger radius" style="text-decoration:none"><i class="Hui-iconfont">&#xe6a6;</i></a>
                    </td>
                </tr>
            </volist>
            <!-- 结束 -->
            </tbody>
        </table>
    </div>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="__PUBLIC__/hui/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/hui/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/hui/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/hui/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__PUBLIC__/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/hui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/hui/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.table-sort').dataTable({
                "aaSorting": [[ 1, "desc" ]],//默认第几个排序
                "bStateSave": true,//状态保存
                "aoColumnDefs": [
                    //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                    {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
                ]
            });

        });
        /*管理员-增加*/
        function admin_add(title,url,w,h){
            layer_show(title,url,w,h);
        }

        /*用户-查看*/
        function member_show(title,url,id,w,h){
            layer_show(title,url,w,h);
        }
        /*用户-停用*/
        function admin_disable(obj,id,act){
            var msg;
            if(act==1){

                msg="确认已处理？";
            }
            layer.confirm(msg,function(index){
                //此处请求后台程序，下方是成功后的前台处理……
                $.ajax({
                    type: 'POST',
                    url: '{:U("news_cat_tjs")}',
                    data: {id:id,act:act},
                    dataType: 'json',
                    success: function(data){
                        if(data==1){
                            $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_disable(this,'+id+',1)" href="javascript:;" title="已处理" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
                            $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">未推荐</span>');
                            $(obj).remove();
                            layer.msg('已处理!', {icon: 5,time:1000});
                        }
                    },
                    error:function(data) {
                        console.log(data);
                    },
                });

            });
        }

        /*用户-编辑*/
        function member_edit(title,url,id,w,h){
            layer_show(title,url,w,h);
        }

        /*用户-删除*/
        function member_del(obj,id){
            layer.confirm('确认要删除吗？',function(index){
                $.ajax({
                    type: 'GET',
                    url: '{:U("del")}',
                    data: {did:id},
                    dataType: 'json',
                    success: function(data){
                        if(data==1){
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!',{icon:1,time:1000});
                        }else{
                            layer.msg('删除失败!',{icon:1,time:1000});
                        }
                    },
                    error:function(data) {
                        console.log(data.msg);
                    },
                });
            });
        }

        function del_id_urls(id,page){
            if(confirm('你确定要执行此操作吗？')){
                location.href='{:U("del")}?did='+id+'&page='+page;
            }
        }
    </script>
</body>
</html>



